<table id="all_auctions">
  <tr>
    <td class="main">
      <span><%=t(:my_auctions)%></span>
    </td>
  </tr>
  <% @auctions.each do |auction| %>
      <tr>
        <td>
          <div class="simple_menu">
            <ul>
              <li><%= Product.find(auction.product_id).name %>
              <li><%= t(:user_rating) + " " + user_rate(auction) %>
              <li><%= t(:current_price, :price=>auction.current_price) %>
              <li><%= link_to t(:details), "/store_auctions/" + auction.id.to_s %>
            </ul>
          </div>
        </td>
      </tr>
  <% end %>
</table>
