<div class="store_auction_list">
  <h3 class="title"><%=t(:active_auctions)%></h3>
  <% @auctions.zip(@products).each do |auction, product| %>
      <div class="auction_list_item">
        <div class="auction_item"><%= product.name %></div>
        <div class="auction_item">
          <%= t(:user_rating) + " #{user_rate(auction)}"%>
          <%= link_to t(:details), "/store_auctions/" + auction.id.to_s, :class => "auction_details" %>
        </div>
        <div class="auction_item"><%= t(:current_price, :price=>auction.current_price) %></div>

      </div>
  <% end %>
</div>

<script>
    $(function() {
        $( ".auction_details" ).button();
    });
</script>
