<%= render "auction_menu" %>
<div id="auction_profile">
  <span><%=t(:process_details)%></span>
  <table>
    <%= render "auction" %>
    <tr>
      <td><%=t(:other_bids)%>></td>
      <td>&nbsp;</td>
    </tr>
    <% other_bids.each_with_index do |bid, index| %>
        <tr>
          <td><%= bid %></td>
          <td>.<%= index+1 %></td>
        </tr>
    <% end %>
    <tr>
      <td>
        <% if @auction.active? %>
            <% form_tag(request.path, :method =>'put') do %>
                <%= text_field_tag :new_bid, @auction.current_price.to_s, :size => 7 %>
                <div>
                  <%= submit_tag t(:make_bid) %>
                </div>
            <% end %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
