<div class="store_owner_auth">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label "מייל" %><br />
        <%= f.email_field :email %></div>

      <div><%= f.label "סיסמא" %><br />
        <%= f.password_field :password %></div>

      <div><%= f.label "הזן סיסמא שנית" %><br />
        <%= f.password_field :password_confirmation %></div>

      <div><%= f.label "סיסמא נוכחית" %><br />
        <%= f.password_field :current_password %></div>

      <div><%= f.submit "עדכן" %></div>
  <% end %>

  <p>לא מרוצה - <%= link_to "בטל חשבון", registration_path(resource_name), :confirm => "?האם אתה בטוח", :method => :delete %></p>
</div>
</div>
