<div class="simple_form">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div>
        <%= f.label t(:email_s) %><br />
        <%= f.email_field :email %>
      </div>

      <div>
        <%= f.label t(:password_s) %><br />
        <%= f.password_field :password %>
      </div>

      <div>
        <%= f.label t(:confirm_password) %><br />
        <%= f.password_field :password_confirmation %>
      </div>

      <div>
        <%= f.submit t(:sign_up) %>
      </div>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>
