<div class="store_owner_auth">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div>
        <%= f.label "מייל" %><br />
        <%= f.email_field :email %>
      </div>

      <div>
        <%= f.label "סיסמא" %><br />
        <%= f.password_field :password %>
      </div>

      <div>
        <%= f.label "הזן סיסמא שנית" %><br />
        <%= f.password_field :password_confirmation %>
      </div>

      <div>
        <%= f.submit "הרשמה" %>
      </div>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>