<tr>
  <td>
    <table>
      <tr>
        <td><%=t(:store_name)%></td>
        <td><%= store.name %></td>
      </tr>
      <tr>
        <td><%=t(:site)%></td>
        <td><%= store.url %></td>
      </tr>
      <tr>
        <td>
          <%= link_to t(:delete), @store, :method => :delete, :confirm => t(:are_you_sure), :title => store.name %>
        </td>
      </tr>
    </table>
  </td>
</tr>
