<div align="center" class="edit_store_details">
  <div class="ui-widget ui-form">
    <div class="ui-widget-header ui-corner-all">
      <h3><%= t(:create_store) %></h3>
    </div>
    <div class="ui-widget-content">
      <%= form_for @store do |f| %>
          <div class="edit_row">
            <%= f.label :name %>
            <%= f.text_field :name, :size => 50 %><br />
          </div>
          <div class="edit_row">
            <%= f.label :address %>
            <%= f.text_field :address, :size => 50 %><br />
          </div>
          <div class="edit_row">
            <%= f.label :url %>
            <%= f.url_field :url, :size => 50 %><br />
          </div>
          <div class="edit_row">
            <%= f.label :description %>
            <%= f.text_area :description, :rows => 10, :cols => 50 %><br />
          </div>
          <div class="edit_row">
            <%= link_to t(:create_store), "#", :id => "store_create_submit", :onclick=>"$('form').submit()" %>
            <%= link_to t(:cancel), stores_path, :id => "store_create_cancel" %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<script>
    $(function() {
        $( "#store_create_submit", ".edit_store_details" ).button();
        $( "#store_create_cancel", ".edit_store_details" ).button();
    });
</script>

