<tr>
  <td>
    <table>
      <tr>
        <td><%=t(:auction_status)  %></td>
        <td><%= @auction.status_to_s %></td>
      </tr>
      <tr>
        <td><%= t(:product) %></td>
        <td><%= Product.find(@auction.product_id).name %></td>
      </tr>
      <tr>
        <td><%= t(:current_price_s) %></td>
        <td><%= @auction.current_price %></td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td>
      <table>
        <tr><td><%= t(:list_of_participants) %></td></tr>
          <% @store_names.each do |n| %>
              <tr><td><%= n %></td></tr>
          <% end %>
      </table>
    </td>
</tr>
