<div class="auctions_list">
  <h2 class="title"><%= t(:active_auctions) %></h2>
  <% @auctions.each do |auction| %>
      <div class="auction_preview">
        <div class="product_title"><%= Product.find(auction.product_id).name %></div>
        <div class="clear_sep"></div>
        <%= image_tag("#{Product.find(auction.product_id).image_folder}/thumbnail.gif",
                           :class => "product_thumbnail") %>
        <span><%= link_to t(:details), "/auctions/" + auction.id.to_s, :class => "details_button" %></span>
        <div class="focus_info">
          <p><%= "#{t(:this_auction_is)}" %>
            <span class="info_highlight"><%= " #{auction.status_to_s}" %></span>.</p>
          <p><%= t(:best_price_sofar) %> <span class="info_highlight"><%= auction.current_price %> NIS</span>.</p>
          <p><%= "#{t(:will_close_in)}" %>
            <span class="info_highlight"><%= " #{auction.remaining_time?} " %></span><%= "#{t(:minutes)}"%>.</p>
        </div>
      </div>
      <div class="clear_sep"></div>
  <% end %>
</div>

<script>
    $(function() {
        $( ".details_button" ).button();
    });
</script>


