<div class="ui-widget ui-form" xmlns="http://www.w3.org/1999/html">
  <div class="ui-widget-header ui-corner-all">
    <h3>Login for BuyBot</h3>
  </div>
  <div class="ui-widget-content">
    <div class="hints" align="right">Not a member yet?
      <% if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to t(:signup), new_registration_path(resource_name) %>
      <% end %>
    </div>
    <div class="fb_connect">
      <p>Use your <b>Facebook</b> account to connect with BuyBot</p>
      <a href="#" class="facebook_login"></a>
    </div>
    <p align="center"><b>OR</b></p>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div class="devise-main">
          <div align="center">
            <%= f.label t(:email_s) %>
            <%= f.email_field :email %>
          </div>
          <div align="center">
            <%= f.label t(:password_s) %>
            <%= f.password_field :password %>
          </div>
          <div>
            <p align="center"><%= f.submit t(:login) %></p>
            <div class="hints">
              <% if devise_mapping.recoverable? && controller_name != 'passwords' %>
                  <%= link_to t(:forgot_password), new_password_path(resource_name) %>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

<script>
    $(function() {
        $( "input:submit", ".devise-main" ).button();
    });
</script>
