<div class="store_owner_auth">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div><%= f.label "מייל" %><br />
        <%= f.email_field :email %>
      </div>

      <div><%= f.label "סיסמא" %><br />
        <%= f.password_field :password %>
      </div>

      <% if devise_mapping.rememberable? -%>
          <div><%= f.check_box :remember_me %> <%= f.label "זכור אותי" %><br /></div>
      <% end -%>

      <div><%= f.submit "כניסה" %></div>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>
