<div class="checkout_form ui-widget">
    <div class="info_highlight">
        <span>Deal Summary</span>
    </div>
  <%= image_tag("#{@product.image_folder}/thumbnail.gif",
                        :class => "product_thumbnail") %>
    <div class="content">
      <%= form_for @checkout do |f| %>
          <%= f.label t(:product) %>
          <%= f.label @product.name %><br />

          <%= f.label t(:price) %>
          <span class="info_highlight"><%= f.label @checkout.final_price %> NIS.</span><br />

          <%= f.label :product_url %>:
          <%= f.label @checkout.product_url %><br />

          <%= f.hidden_field :product_url, :value => @checkout.product_url %>
          <%= f.hidden_field :final_price, :value => @checkout.final_price %>
          <%= f.hidden_field :status, :value => @checkout.status %>
          <%= f.hidden_field :auction_id, :value => @auction.id %>

          <%= f.submit t(:confirm), :id => "proceed_checkout" %>
      <% end %>
    </div>
</div>

<script>
    $(function() {
        $( "#proceed_checkout" ).button();
    });
</script>
