
<div id="products_display">
    <h1><%=t(:search_results)%></h1>
    <%=render 'active_filters'%>
    <%= render :partial=>"categories/product",:locals=>{:products=>@search_results.products}%>
    <%=will_paginate @search_results.products%>
    
      
</div>
<div id="right-side-bar">
  <div id="price-ranges">
    <div><%=t(:price_ranges)%></div>
      <%=ranges_links @search_results.price_range%>
    </div>
    <div id="possible-categories">
      <div><%=t(:categories)%></div>
        <%for cat in @search_results.prod_categories do%>
          <div><%=link_to cat.name, search_customer_products_path(Hash[params].update('category'=>cat.id.to_s))%></div>
	<%end%>
	
      </div>
      <div id="manufacturers">
        <div class><%=t(:manufacturers)%></div>
          <%for manufacturer in @search_results.manufacturers do%>
            <div><%=link_to manufacturer, search_customer_products_path(Hash[params].update(:manufacturer=>manufacturer))%></div>
          <%end%>
        </div>
  </div>
