<div class="product_detailed">
  <div class="product_info">
    <h2 class="title"><%= @product.name%></h2>
    <%=t(:buyer_rates)%>
    <% 5.times do %>
        <%= image_tag("star_full.jpg") %>
    <% end %>
    <p><%=t(:minimum_price)%> <%= @product.minimum_price %> NIS</p>
    <div class="product_thumbnail"><%= image_tag("#{@product.image_folder}/thumbnail.gif") %></div>
    <div class="description">
      <p><%= @product.description %></p>
      <p><%= link_to "Read more", "#" %></p>
    </div>
  </div>

  <div class="clear_sep"></div>

  <div class="stores_display">
    <%= form_tag(auctions_path, :method =>'post') do %>
        <%for store in @stores do%>
            <div class="auction_store">
              <h3 class="title"><%= store.name %></h3>
              <div>
                <div class="store_review">
                  <%= check_box_tag 'store_ids[]', store.id, false, :class => "store_select" %>
                  <%= image_tag("data/s1/thumbnail.gif") %>
                  <%= image_tag("check_full.gif", :class => "review_image") %>
                  <span class="final_price_title"><%= t(:price)%>:</span><br/>
                  <span class="auction_store_review"><%= link_to "More about this store", "#" %></span>
                  <span class="final_price"><%= store.product_price(@product) %> NIS</span>
                </div>
              </div>
            </div>
        <%end%>
        <%= hidden_field_tag :product_id, @product.id %>
        <div class="clear_sep"></div>
        <div class="start_auction">
          <%= submit_tag t(:begin_auction) %>
        </div>
    <%end%>
  </div>
</div>

<script>
    $(function() {
        $( "input:submit", ".start_auction" ).button();
    });
</script>
