<div id="customer_product">
  <h1><%=@product.name%></h1>
  <p><%=@product.description%></p>

  <% form_tag(auctions_path, :method =>'post') do %>
      <table id="store_list">
        <tr>
          <th>חנות</th>
          <th>מחיר</th>
        </tr>
        <% @stores.each do |store| %>
            <tr>
              <td><%=store.name%></td>
              <td><%=store.product_price(@product)%></td>
              <td><%=check_box_tag 'store_ids[]', store.id %></td>
            </tr>
        <%end%>
      </table>
      <%= hidden_field_tag :product_id, @product.id %>
      <div id="start_auction_button">
        <%= submit_tag "התחל מכירה פומבית" %>
      </div>
  <%end%>

</div>
