<div id="customer_product">
	<h1><%= @product.name%></h1>
	<p>
		<%= @product.description%>
	</p>
	<div id="stores-display">
		<% form_tag(auctions_path, :method =>'post') do %>
		<div class="store-line">
			<div class="store-display-item">
				<%= t(:store)%>
			</div>
			<div class="store-display-item">
				<%= t(:price)%>
			</div>
			<div class="store-display-item">
				<%= t(:invite_to_auction)%>
			</div>
		</div>
		<%for store in @stores do%>
		<div class="store-line">
			<div class="store-display-item">
				<%= store.name%>
			</div>
			<div class="store-display-item">
				<%= store.product_price(@product)%>
			</div>
			<div class="store-display-item">
				<%= check_box_tag 'store_ids[]', store.id %>
			</div>
		</div>
		<%end%>
		<%= hidden_field_tag :product_id, @product.id %>
		<div id="start_auction_button">
			<%= submit_tag t(:begin_auction) %>
		</div>
		<%end%>
	</div>
</div>
