<div>
  <%for prod in products do%>
      <div class="product_item">
        <div class="product_title"><%=link_to prod.name, customer_product_path(prod)%></div>
        <div class="product_thumbnail"><%= image_tag("#{prod.image_folder}/thumbnail.gif") %></div>
        <div class="get_price">
          <%= link_to prod.name, customer_product_path(prod), :class => "get_price_button" %>
        </div>
        <div class="product_info">
          <%=t(:buyer_rates)%>
          <% 5.times do %>
              <%= image_tag("star_full.jpg") %>
          <% end %>
          <p><%=t(:minimum_price)%> <%=prod.minimum_price%> NIS</p>
          <div class="description">
            <p><%=prod.description%></p>
            <p><%= link_to "Read more", "#" %></p>
          </div>
        </div>
      </div>
      <div class="clear_sep"></div>
  <%end%>
</div>

<script>
    $(function() {
        $( ".get_price_button" ).button({ label: "Get your price" });
    });
</script>

