<div class="search">
  <div class="ui-widget ui-form">
    <div>
      <%= form_tag "customer_products/search", :method => 'get' do %>
          <div class="search_category  ui-widget-content">
            <p align="center">
              <%= text_field_tag "search", params[:search], :placeholder=>"I want to buy...", :id => "search_input" %>
              <!--<%= select_tag(:category, ('<option value="">' + t(:select_a_category) + '</option>' + options_from_collection_for_select(@root_categories, :id, :name)).html_safe) %>-->
              <button><%= t(:select_a_category) %></button>
              <%= submit_tag t(:search), :name => nil%>
            </p>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="categories">
  <div id="accordion">
    <% @root_categories.each do |root|%>
        <h3><%= root.name%></h3>
        <div>
          <%root.children.each do |sub|%>
              <p><%= sub.name%></p>
              <%sub.children.each do |sub_sub|%>
                  <%= link_to sub_sub.name, search_customer_products_path('category'=>sub_sub.id) %>
              <%end%>
          <%end%>
        </div>
    <%end%>
  </div>
</div>

<div class="how_works">
  <!--<div class="how_works1">-->
    <!--<p>Choose a product. Find which store you like.</p>-->
  <!--</div>-->
  <%= image_tag("iwant.png") %>
  <%= image_tag("istores.png") %>
  <%= image_tag("ibid.png") %>
</div>

<script>
    $(function() {
        $( "input:submit", ".search_category" ).button();
        $( "button", ".search_category" ).button({
            icons: {
                secondary: "ui-icon-triangle-1-s"
            }
        });
    });
    $(function() {
        $( "#accordion" ).accordion({
            heightStyle: "fill"
        });
    });
    $(function() {
        $( "#accordion" ).accordion({
            heightStyle: "content",
            collapsible: true
        });
        $( "#accordion" ).accordion( "option", "icons", null );
    });
    //    $(function() {
    //        $('.search_category').equalHeights();
    //    });
</script>

