<tr>
  <td>
    <table>
      <tr>
        <td><%=t(:product)%></td>
        <td><%= product.name %></td>
      </tr>
      <tr>
        <td><%=t(:description)%></td>
        <td><%= product.description %></td>
      </tr>
      <tr>
        <td><%=t(:minimum_price)%></td>
        <td><%= product.minimum_price %></td>
      </tr>
    </table>
  </td>
</tr>
