<div class="simple_form">
  <%= form_for @product do |f| %>
      <%= f.label :name %>:<br />
      <%= f.text_field :name %><br />

      <%= f.label :url %>:<br />
      <%= f.url_field :url %><br />

      <%= f.label :image_folder %>:<br />
      <%= f.text_field :image_folder %><br />

      <%= f.label :manufacturer %>:<br />
      <%= f.text_field :manufacturer %><br />

      <%= f.label :description %>:<br />
      <%= f.text_area :description, :rows => 3 %><br />

      <%= f.label :sub_category %>:<br />
      <%= collection_select('product', 'category_ids', Category.top_categories, :id, :name, {}, { :name => 'product[category_ids][]'}) %><br />

      <%= f.fields_for :prices do |builder| %>
          <% if builder.object.store_id == @store.id %>
              <%= builder.label :price %>:<br />
              <%= builder.text_field :price %><br />
          <% end %>
      <% end %>

      <%= f.submit "Update Product" %>
  <% end %>
</div>
