<div class="products_list">
  <h3 class="title"><%=t(:products)%></h3>
  <% for product in @products %>
      <div class="product_list_item">
        <div class="product_name"><%= product.name %></div>
        <div><%= link_to t(:more), "/products/#{product.id}", :class => "product_link" %></div>
      </div>
  <% end %>
  <span><%= will_paginate @products %></span>
  <%= link_to t(:new_product), new_product_path, :class => "create_new_product" %>
</div>

<div class="clear_sep"></div>

<script>
    $(function() {
        $( ".create_new_product" ).button();
        $( ".product_link" ).button();
    });
</script>


