<div id="footer">
  <div id="foot">
    <div id="foot_right">
      <nav class="footer_nav">
        <ul>
          <li><%= link_to t('blogs.footer'), root_path %></li>
          <li><%= link_to t('footer.contact_us'), root_path %></li>
          <li><%= link_to t('footer.terms'), root_path %></li>
          <li><%= link_to t('footer.jobs'), root_path %></li>
          <li><%= link_to t('footer.about'), root_path %></li>
          <li><%= link_to t('footer.merchant'), new_store_owner_session_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
