<div id="header">
  <div id="logo-and-login">
    <div id="user_nav" class="ui-widget">
      <% if user_signed_in? %>
          <div class="logged_area ui-widget-content">
            <ul>
              <li><%= t :welcome, :user=>current_user.email %></li>
              <li>|</li>
              <li><%= link_to t(:logout), destroy_user_session_path, :method => :delete %></li>
            </ul>
            <nav class="main_nav">
              <ul>
                <li><%= link_to t(:purchase_hist), auctions_path %></li>
                <li><%= link_to t(:account_settings), edit_user_registration_path %></li>
                <li><%= link_to t(:help), help_path %></li>
                <li><%= link_to t(:invite_friends), invite_friends_path %></li>
              </ul>
            </nav>
          </div>
      <% else %>
          <div class="login_area">
            <%= tag 'input',:type=>'text',:id=>'directlogin_username',:class=>'bold_input',:placeholder=>t(:email_s) %>
            <%= tag 'input',:type=>'password',:id=>'directlogin_password',:class=>'bold_input',:placeholder=>t(:password_s) %>
            <%= tag "input",:value=>t(:login), :type=>'button', :id=> "directlogin_submit"%>
            <%= tag 'input',:value=>t(:sign_up), :type=>'button',:rel=>'register_form', :id=>'directregister' %>
          </div>
      <% end %>
    </div>
  </div>

  <%= render 'layouts/register_form' %>
</div>
