<div id="header">
  <div class="logo">
    <%= link_to t(:home), root_path %>
  </div>
  <div>
    <div>
      <% if user_signed_in? %>
          <div class="user_menu" align="right">
            <ul>
              <li><%= t(:welcome, :user => show_nick) %></li>
              <li><%= link_to t(:logout), destroy_user_session_path, :method => :delete %></li>
              <li><%= link_to t(:account_settings), edit_user_registration_path %></li>
              <% if current_user.fb_uid.nil? %>
                  <li><%= link_to t(:connect_to_facebook), connect_to_fb_users_path, :method => :get%></li>
              <% end %>
            </ul>
          </div>
          <div class="user_nav">
            <ul id="user_nav">
              <li><%= link_to t(:my_auctions), auctions_path %></li>
              <li><%= link_to t(:invite_friends), new_invite_path %></li>
            </ul>
          </div>
      <% else %>
          <div class="user_menu" align="right">
            <% if not devise_controller? %>
                <ul>
                  <li>Welcome</li>
                  <li><%= link_to t(:login), new_user_session_path %></li>
                  <li>or</li>
                  <li><%= link_to t(:sign_up), new_user_registration_path %></li>
                </ul>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<style type="text/css">
    .ui-popup { position: absolute; z-index: 5000; }
    .ui-menu { width: 200px; }
</style>
