<div id="header">
  <div id="user_nav">
    <% if store_owner_signed_in? %>
        <div class="logged_area">
          <ul>
            <li><%= t :welcome, :user=>current_user.email %></li>
            <li>|</li>
            <li><%= link_to t(:logout), destroy_store_owner_session_path, :method => :delete %></li>

          </ul>
        </div>
    <% end %>
  </div>

  <nav class="main_nav">
    <ul>
      <li><%= link_to t(:current_auctions), store_auctions_path %></li>
      <li><%= link_to t(:store_management), stores_path %></li>
      <li><%= link_to t(:account_settings), edit_store_owner_registration_path %></li>
      <li><%= link_to t(:help), help_path %></li>
    </ul>
  </nav>
</div>
