<!DOCTYPE html>
<html>
<head>
  <title>Store Management</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="container">
  <div id="store_title">
    <span><%= t(:store_mangement) %></span>
  </div>
  <%= render 'layouts/store_header' %>
  <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  <div id="content">
    <%= yield %>
  </div>
  <%= render 'layouts/store_footer' %>

  <%= debug(params) if Rails.env.development? %>
</div>

</body>
</html>
